stop-doing {
	display: block;
	padding: 1em;
	background: linear-gradient(#fff 0%, #abd3eb 90%);
	font-family: "Helvetica";
	width: 35em;
	height: auto;
}
stop-doing [p] {
	font-size: 2em;
	text-shadow: 3px 2px 2px #666;
}
stop-doing ul > li {
	margin: 0.4em;
}
stop-doing img {
	width: 100%;
}
stop-doing img + * {
	color: red;
}
stop-doing > div {
	display: flex;
}
stop-doing > div > div {
	flex: 30%;
	margin: 1em;
}
stop-doing > :last-child > :last-child b {
	margin: 1em;
	font-size: 1.2em;
}
stop-doing > b * {
	margin: 0.5em;
	font-size: 1.2em;
}
